<h2>投稿編集</h2>

<%= form_with model: @post, local: true do |f| %>
  <% if @post.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "form", post: @post, customers: @customers %>

  <%= f.submit "更新する", class: "btn btn-primary" %>
<% end %>