<h2>タグ編集</h2>

<%= form_with model: [:admin, @tag], local: true do |f| %>
  <div>
    <%= f.label :name, "タグ名" %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.submit "更新" %>
  </div>
<% end %>